* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DotGothic16', sans-serif;
}

header {
  background-color: white;
  border-bottom: 0.1rem solid #ccc;
  padding: 0.5rem 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar i {
  padding-top: 0.5rem;
  cursor: pointer;
  font-size: 1.75rem;
}

.navbar h1 {
  font-size: 2.5rem;
  color: black;
}

.navright {
  display: flex;
  gap: 2rem;
}

.navright a {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
  justify-content: space-between;
  padding-right: 1rem;
}

.navright a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 3rem;
}

.hero h2 {
  font-size: 7.5rem;
  font-family: 'DotGothic16', sans-serif;
  font-weight: 400;
  padding-bottom: 2.5rem;
  line-height: 1;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: 42rem;
  margin-top: 1.25rem;
  border-radius: 0.3125rem;
  padding-bottom: 4rem;
}

.projects {
  justify-content: flex-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
  padding: 1.25rem;
  max-width: 87.5rem;
  margin: auto;
  font-family: 'Archivo', sans-serif;
  padding-bottom: 4.375rem;
}

.project {
  text-align: center;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  transition: transform 0.3s;
  overflow: auto;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem gray;
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 0.3125rem;
}

.project p {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: #555;
  text-align: left;
}

.about {
  justify-content: flex-start;
  text-align: left;
  padding-left: 3.875rem;
  font-size: 3rem;
  background: white;
  line-height: 1.1;
  max-width: 46.875rem;
  max-height: 22.75rem;
  letter-spacing: -0.0625rem;
  font-weight: 400;
}

footer {
  text-align: center;
  padding-top: 8.75rem;
}

.contact {
  padding-top: auto;
  gap: 3rem;
}

.contact h3 {
  font-size: 1.75rem;
  margin-bottom: 0.625rem;
  font-weight: 400;
}

.input-boxes {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 0.9375rem;
}

.input-boxes input {
  width: 3.5rem;
  height: 4rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Courier New', Courier, monospace;
  border: 0.0625rem solid #000;
  border-radius: 0.3125rem;
  background-color: #fff;
  pointer-events: none;
}

.send-btn {
  background-color: blue;
  color: white;
  padding: 0.625rem 2.5rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 0.9375rem;
  width: 15rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: 'Archivo Narrow', sans-serif;
}

.skip-link {
  display: block;
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: blue;
  text-decoration: none;
  font-family: 'Archivo Narrow', sans-serif;
}

.skip-link:hover {
  text-decoration: underline;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 1.875rem;
  font-size: 1.75rem;
  margin-top: 13rem;
}

.bottom button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid black;
  background-color: white;
  font-size: 1.25rem;
  height: 3rem;
  width: 7.75rem;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  nav a {
    display: none;
  }

  .nav i {
    text-align: left;
    margin: none;
  }

  .hero h2 {
    font-size: 3rem;
  }

  .hero img {
    width: 95%;
    height: 27.5rem;
    padding-top: 0px;
  }

  .projects {
    flex-direction: row;
    width: 30rem;
  }

  .about {
    font-size: 1.25rem;
    text-align: center;
  }

  footer {
    text-align: center;
  }

  .contact h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .input-boxes input {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
  }

  .send-btn {
    font-size: 0.8rem;
    width: 8rem;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin: 1.875rem;
    font-size: 1rem;
    margin-top: 5rem;
  }

  .bottom button {
    font-size: 0.7rem;
    height: 1.8rem;
    width: 5rem;
    text-align: center;
  }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  nav a {
    display: none;
  }

  .nav i {
    text-align: left;
    margin: none;
  }

  .hero h2 {
    font-size: 3rem;
  }

  .hero img {
    width: 95%;
    height: 27.5rem;
    border-radius: 0.5rem;
  }

  .projects {
    flex-direction: row;
    width: 92%;
  }

  .about {
    font-size: 1.75rem;
    text-align: center;
  }

  footer {
    text-align: center;
    padding-top: 5rem;
  }

  .contact h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .input-boxes input {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
  }

  .send-btn {
    font-size: 0.8rem;
    width: 8rem;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin: 1.875rem;
    font-size: medium;
    padding-top: 1rem;
  }
  .bottom button {
    font-size: 0.8rem;
    height: 2rem;
    width: 5rem;
    cursor: pointer;
  }
}
